@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    font-family: 'Tektur', sans-serif;
}
body{
    width: 100%;
    background: rgb(0, 3, 7);
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}
header .header-icon img{
    width: 20%; 
    padding: 20px;
    filter: drop-shadow(0 0 0.75rem rgba(5, 33, 59, 0.685));
}
header nav a{
    font-size: 80%;
    padding: 15px;
    color: rgb(248, 248, 248);
    transition: .5s;
}
header nav a:hover{
    filter: drop-shadow(0 0 0.75rem rgba(241, 241, 241, 0.897));
}
main #page-1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #page-1 .main-container{
    width: 85%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: url(imgs/galaxy.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.116);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main #page-1 .main-container span{
    display: none;
}
main #page-1 .main-container .lina-title{
    display: flex;
    position: absolute;
}
main #page-1 .main-container .lina-title h1{
    color: rgb(236, 232, 224);
    font-size: 20vw;
    font-family: 'Jost', sans-serif;
    margin: 8rem;
    filter: drop-shadow(0 0 0.75rem rgba(235, 235, 235, 0.315));
}
main #page-1 .main-container img{
    width: 40vw;
    position: absolute;
    margin-bottom: 2%;
    z-index: 1;
    bottom: 0;
}

main #page-2{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(236, 232, 224);
    font-family: 'Abel', sans-serif;
}
main #page-2 .aside{
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5%;
}
main #page-2 .aside h1{
    font-size: 4rem;
    max-width: 50%;
    line-height: 90%;
}
main #page-2 .aside h2{
    color: rgb(0, 153, 255);
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.329));
}
main #page-2 .aside a{
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    transition: 1s;
}
main #page-2 .aside a:hover{
    background-color: white;
    color: rgb(25, 25, 25);
    transform: scale(10px);
}
main #page-2 .other-side{
    width: 30%;
    height: 90%;
}
main #page-2 .other-side img{
    width: 200px;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main #page-2 .other-side h1{
    font-size: 3rem;
    margin: 5% 0 5% 0;
}

main #page-3{
    width: 100%;
    height: 130vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #page-3 .moodboard{
    display: flex;  
}
main #page-3 .moodboard-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}
main #page-3 .moodboard-title h1{
    font-size: 3rem;
    max-width: 50%;
    text-align: center;
    margin: 3%;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.205));
}
main #page-3 .moodboard img{
    width: 20vw;
    border-radius: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main #page-3 .moodboard .square .first{
    aspect-ratio: 2/3;
    object-fit: cover;
}
main #page-3 .moodboard .square .second{
    aspect-ratio: 16/9;
    object-fit: cover;
}
main #page-3 .moodboard .column{
    display: flex;
    flex-direction: column;
}
main #page-3 .moodboard .column img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 24vw;
}

main #page-4{
    width: 100%;
    height: 100vh;
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0);
    padding: 10%;
}
main #page-4 h1{
    width: 20vw;
    font-size: 3rem;
    border-right: 1px solid white;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.205));
}
main #page-4 p{
    margin: 5% 0 0 0 ;
}

main #page-5 img{
    width: 5%;
    margin: -20% 0 5% 9.5%;
}

footer{
    width: 100%;
    height: 5%;
    color: rgba(255, 255, 255, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    padding: 10px;
    font-family: 'Jost', sans-serif;
}

@media only screen and (max-width: 600px) {
    *{
        overflow-x: hidden;
    }
    header{
        position: fixed;
        overflow: hidden;
    }
    header nav .none{
        display: none;
    }
    header nav{
        overflow: hidden;
    }
    header nav a{
        font-size: 3vw;
        overflow: hidden;
        margin-right: 30vw;
        overflow: hidden;
    }
    header .header-icon img{
        width: 30%; 
    }
    main #page-1{
        height: 70vh;
    }
    main #page-1 .main-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end; 
        border: 0px;
        border-radius: 0px;
    }
    main #page-1 .main-container img{
        width: 90vw;
        position: relative;
        margin-bottom: 0;
    }
    main #page-1 .main-container h1{
        display: none;
    }
    main #page-2{
        height: 100vh;
        margin-top: 3vh;
        flex-direction: column;
    }
    main #page-2 .aside{
        width: 80%;
        height: 90%;
        overflow: hidden;
    }
    main #page-2 .aside h1{
        font-size:8vw;
        overflow: hidden;
        width: 100vw;
    }
    main #page-2 .aside h2{
        font-size: 1rem;
    }
    main #page-2 .aside p{
        font-size: .7rem;
        padding: 10px 0 10px 0;
    }
    main #page-2 .aside a{
        font-size: 4vw;
        border: 1px solid white;
        padding: 10px;
    }
    main #page-2 .other-side{
        overflow: hidden;
        width: 80%;
        margin-top: -10vh;
    }
    main #page-2 .other-side img{
        width: 60vw;
        aspect-ratio: 16/9;
        border-radius: 5px;
        margin-top: 15%;
    }
    main #page-2 .other-side h1{
        font-size: 2rem;
        margin: 5% 0 5% 0;
    }
    main #page-2 .other-side p{
        font-size: .7rem;
        padding: 10px 0 10px 0;
        max-width: 90%;
    }
    main #page-3{
        width: 100%;
        height: 50vh;
    }
    main #page-3 .moodboard-title h1{
        font-size: 5vw;
        max-width: 100%;
        overflow: hidden;
    }
    main #page-3 .moodboard img{
        overflow: hidden;
        width: 25vw;
        border-radius: 3px;
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.096));
        margin: 1px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    main #page-4{
        height: 80vh;
    }
    main #page-4 h1{
        font-size: 10vw;
        width: auto;
    }
    main #page-4 p{
        font-size: 4vw;
        margin-top: 5vh;
    }
    main #page-5{
        overflow: hidden;
    }
    main #page-5 h1{
        overflow: hidden;
    }
    main #page-5 p{
        overflow: hidden;
    }
    main #page-5 img{
        width: 10%;
        margin: 0 0 0 10vw;
    }
    footer span{
        font-size: .5rem;
    }
}